<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Сауна впечатлений</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="/static/img/icons/icon-512x512.png">
        <link rel="apple-touch-startup-image" href="/static/img/logo.png">
        <meta name="apple-mobile-web-app-title" content="Сауна">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" />
    </head>
    <body>
        <script async src="/build/bundle.js"></script>
        <div id="root"></div>
    </body>
</html>